/* Products Page CSS */
.product-shw{
    margin: 60px 20px 30px;
}
/* end of Featured Products */

/*----- Product Content css -----*/
.body{
    max-width: 1450px;
    margin: auto;
    padding: 80px 0;
}

.product-container{
    display: flex;
    flex-wrap: nowrap;
    justify-content: space-evenly;
    padding-bottom: 50px;
}

.product-img{
    width: 550px;
    max-height: fit-content;
    display: inline-flex;
    flex-direction: column;
    /* justify-content: center; */
}

.product-sticky{
    display: flex;
    position: sticky;
    flex-direction: column;
    top: 0;
    bottom: 0;
    -webkit-position: sticky;
    transition: position 0.5s;
}

    /*-- product image: image scroll --*/
    #main-display{
        width: 550px;
        max-height: 520px;
        /* cursor: pointer; */
        object-fit: contain;
    }

    .thumbnail{
        max-width: 90px;
        max-height: 85px;
        cursor: pointer;
        opacity: 0.5;
        margin: 5px;
        object-fit: cover;
    }

    .thumbnail:hover, .thumb-active{
        opacity: 1;
        border: 2px solid #333;
        transform: scale(0.98);
        transition: opacity 0.2s, transform 0.3s;
    }

    #slider-container{
        max-width: 550px;
        min-height: 100px;
        display: inline-flex;
        justify-content: center;
        align-items: center;
    }

    #slider{
        max-width: fit-content;
        display: flex;
        flex-wrap: nowrap;
        overflow-x: scroll;
    }

    #slider::-webkit-scrollbar{
        height: 7px;
    }
    #slider::-webkit-scrollbar-track {
        background: #f1f1f1;
        border-radius: 8px;
    }
    #slider::-webkit-scrollbar-thumb {
        background: #888;
        border-radius: 8px;
    }
    #slider::-webkit-scrollbar-thumb:hover {
        background: #555;
    }

    .arrows{
        margin: 0 6.5px;
        width: 25px;
        height: 25px;
        cursor: pointer;
        transition: transform 0.3s, opacity 0.5s;
    }

    .arrows:hover{
        opacity: 0.75;
        transform: scale(1.1);
    }

    .arrows:active{
        opacity: 1;
        transform: scale(0.9);
    }
    /* end of product image */

.product-details{
    display: inline-flex;
    flex-wrap: wrap;
    max-width: 650px;
    max-height: fit-content;
    padding-left: 10px;
    flex-basis: 70%;
}

.name{
    height: 90px;
    min-width: max-content;
    display: inline-flex;
    flex-wrap: wrap;
    flex-direction: column;
    color: black;
    text-align: left;
    padding: 20px 0;
    font-size: 1.75em;
}

.namebar{
    content: '';
    background: grey;
    width: 80px;
    height: 5px;
    border-radius: 5px;
    position: relative;
    bottom: 16px;
    transform: translateX(0%);
}

.price{
    font-weight: bold;
}

.content{
    display: flex;
    flex-direction: column;
}

.description{
    overflow: auto;
    min-width: 200px;
    max-height: 500px;
}

.separator{
    border-top: 1px solid #E8E8E1;
    max-width: 650px;
    margin: 20px 0;
}

.fancy{
    letter-spacing: 2px;
    text-align: center;
    font-weight: 900;
    margin-top: -14px;
}

.fancy mark{
    background-color: #FFF;
    padding: 0 8px;
}
    /*-- product content: quantity --*/
    .qty{
        display: inline-flex;
        align-items: center;
        flex-wrap: wrap;
        min-width: 250px;
    }

    .qty-label{
        font-weight: 900;
        text-align: left;
        margin-right: 50px;
    }

    .buttons{
        font-family: "Times New Roman", serif;
        background: #EEE;
        border: 1px solid #DDD;
        padding: 7px 0px;
        display: inline-flex;
        width: 35px;
        height: 30px;
        text-align: center;
        justify-content: center;
        align-items: center;
        -webkit-touch-callout: none;
        -webkit-user-select: none;
        -khtml-user-select: none;
        -moz-user-select: none;
        -ms-user-select: none;
        user-select: none;
    }

    .buttons:hover {
        cursor: pointer;
        background-color: rgb(216, 216, 216);
    }

    .buttons:active {
        font-size: 13px;
        transition: font-size 0.5;
    }

    .qty #decrease{
        margin-right: -4px;
        border-radius: 8px 0px 0px 8px;
        padding-bottom: 9px;
    }

    .qty #increase{
        margin-left: -4px;
        border-radius: 0px 8px 8px 0px;
    }

    .qty #counter{
        margin: 0px 4px;
        border: none;
        border-top: 1px solid #DDD;
        border-bottom: 1px solid #DDD;
        text-align: center;
        width: 40px;
        height: 30px;
        vertical-align: middle;
    }

    input[type=number]::-webkit-inner-spin-button,
    input[type=number]::-webkit-outer-spin-button {
        -webkit-appearance: none;
        margin: 0;
    }

    input[type=number] {
        -moz-appearance:textfield;
        -ms-appearance:textfield;
    }

    .stock{ /* */
        margin-left: 30px;
        font-size: smaller;
        display: inline-flex;
        max-width: fit-content;
        /* font-style: italic; */
        color: #333;
    }
    /* end of product content */

/* Check-out Buttons */
.button-section{
    display: flex;
    max-width: 650px;
    resize: horizontal;
}
.button-container{
    display: flex;
    height: 60px;
    margin-top: 5px;
    max-width: 100%;
    flex-basis: 50%;
}

.button-gtc, .button-buy{
    resize: horizontal;
    margin-top: 20px;
    min-width: 93%;
    height: 40px;
    border-radius: 5px;
    transition: transform 0.3s, box-shadow 0.5s;
}

.button-gtc {
    border: 3px solid #000;
    text-align: center;
    background-color: #FFF;
}

.button-gtc:hover{
    transform: scale(1.04);
    box-shadow: 3px 3px 5px 1px rgba(33, 33, 33, .3);
}

.button-gtc:active{
    transform: scale(0.99);
    transition: transform 0s;
}

.button-buy{
    border: 3px solid #000;
    background-color: #000;
    color: #FFF;
    text-align: center;
    margin-left: 22px;
    transition: transform 0.5s, box-shadow 0.5s, background-color 0.5s, color 0.5s;
}

.button-buy:hover{
    transform: scale(1.04);
    box-shadow: 3px 3px 5px 1px rgba(33, 33, 33, .3);
    background-color: #FFF;
    color: #000;
}

.button-buy:active{
    transform: scale(0.99);
    background-color: #000;
    color: #FFF;
    transition: transform 0s, background-color 0s, color 0s;
}

.button-gtc, .button-buy:hover{
    cursor:pointer;
}
/* end of Check-out Buttons */

/* Description Dropdown Box */
.dropdown-container{
    margin-top: 30px;
    display: flex;
    flex-direction: column;
    max-width: 650px;
    max-height: fit-content;
}

.dropdown-button{
    border: 1px solid #E8E8E1;
    background-color: #FFF;
    text-align: center;
    padding: 10px;
    max-width: 650px;
    max-height: 45px;
    cursor: pointer;

    font-family: 'Bodoni Moda';
    font-weight: 900;
    letter-spacing: 2px;
}

.dropdown-button:after{
    content: '\25be';
    float: right;
    transform: scale(1.5);
}

.dropdownButton-active:after{
    content: '\25b4';
}

.dropdown{
    max-width: 650px;
    max-height: 0;
    overflow: hidden;
    padding: 0 10px;
    border: 1px solid #E8E8E1;
    border-top: none;
    transition: max-height 0.3s;

    font-size: 13px;
}

.dropdown p{
    margin: 10px 0;
}

#dC1{
    border-bottom: none;
}

#dC2{
    border-top: none;
    border-bottom: none;
}
/* end of Dropdown */

/* Icons */
.icons-holder{
    display: inline-flex;
    justify-content: center;
    margin: 5px 25px 30px 0;
}

.icons-holder p{
    font-style: italic;
    margin-right: 10px;
}

.icons{
    width: 30px;
    height: 30px;
    margin: 0 5px;
    transition: opacity 0.2s, transform 0.3s;
}

.icons:hover{
    opacity: 0.9;
    transform: scale(1.1);
}

.icons:active{
    opacity: 1;
    transform: scale(1);
}

.icons-separator{
    border-top: 1px solid #E8E8E1;
    max-width: 210px;
    margin: 20px 0 10px 155px;
}
/* end of Icons */

/*----- Related Products -----*/
.rp{
    max-width: 1300px;
    margin: auto;
    margin-top: 120px;
}

.rp-title{
    text-align:center;
    margin: 0 auto 20px;
    position: relative;
    line-height: 60px;
    color: black;
}

.rp-title::after{
    content: '';
    background: grey;
    width: 80px;
    height: 5px;
    border-radius: 5px;
    position: absolute;
    bottom: 0;
    left: 50%;
    transform: translateX(-50%);
}

.rp-row{
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    justify-content: space-evenly;
}

.rp-products{
    flex-basis: 25%;
    padding: 10px;
    max-width: 230px;
    margin-bottom: 30px;
    transition: transform 0.5s, box-shadow 0.3s;
    border-radius: 15px;
}

.rp-products:hover{
    box-shadow: 0px 8px 8px -5px rgba(33, 33, 33, .2);
    transform: translateY(-7px);
}

.rp-products img{
    width: 100%;
}

.rp-products p{
    font-size:14px;
}
/* end of Related Products */
/* end of Product Content */

/*----- Promo css -----*/
.promo{
    background:white;
    margin-top: 0px;
    padding: 30px 0px;
}

.col-2 .offer-img{
    padding: 50px;
}

small{
    color: black;
}
/* end of Promo */

@media all and (max-width: 1300px), (max-width: 560px){
    .product-container{
        padding: 0 calc(1px + 2vw);
        transition: padding 0.5s ease-out;
    }
    .product-details{
        padding: 0 calc(1px + 3vw);
        transition: padding 0.5s ease-out;
    }
    .product-img, .product-details, #main-display, #slider, .thumbnail{
        max-width: 100%;
        transition: max-width 0.3s ease-in-out;
    }
    .product-sticky{
        align-items: center;
    }
}

@media all and (max-width: 1100px){
    .button-buy{
        margin-left: 18px;
    }
}

@media screen and (max-width: 900px){
    .product-container{
        flex-wrap: wrap;
    }
    .product-details{
        padding: 0;
        transition: padding 0.2s;
    }
}

@media all and (max-width: 650px){
    .button-buy{
        margin-left: 15px;
    }
}

@media all and (max-width: 470px){
    .description{
        margin: auto;
        padding: 0 5px;
        font-size: 85%;
        text-align: center;
        word-wrap: break-word;
        max-width: 90%;
        transition: max-width 0.3s, text-align 0.3s;
    }
    .description::-webkit-scrollbar{
        width: 4px;
    }
    .description::-webkit-scrollbar-track {
        background: #f1f1f1;
        border-radius: 10px;
    }
    .description::-webkit-scrollbar-thumb {
        background: #888;
        border-radius: 10px;
    }
    .description::-webkit-scrollbar-thumb:hover {
        background: #555;
    }


    .qty-label{
        margin-right: auto;
        transition: margin-right 0.2s;
    }
    .stock{
        display: none;
    }
    .button-buy{
        margin-left: auto;
    }
}

@media only screen and (max-width: 800px){
    nav ul{
        position: absolute;
        top: 70px;
        left: 0;
        background: grey;
        width: 100%;
        overflow: hidden;
        transition: max-height 0.5s;
    }

    nav ul li{
        display: block;
        margin-right: 50px;
        margin-top: 10px;
        margin-bottom: 10px;
    }

    nav ul li a{
        color: black;
    }
    .menu-icon{
        display:block;
        cursor:pointer;
    }
    .product-sticky{
        position: unset;
        -webkit-position: unset;
    }
}